.login__input {
  width: 358px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #ccc;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  padding: 0px 0px 10px;
  outline: none;
  margin-bottom: 30px;
}
.login__input:-webkit-autofill {
  box-shadow:0 0 0 50px #000 inset;
  -webkit-text-fill-color: #fff;
}
